.App {
  text-align: center;
}
.nav-home,.nav-logout{
  margin-right: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App{
  border:2px red solid;
  margin:auto;
  width: 50%;
  height: 400px;
  background-color: azure;
  padding: 20px;

}

.nav-home {
 margin-top: 15px;
 margin-left: 15px;
 margin-right: 15px;
 margin: 10px;
 color: rgb(59, 159, 59)
}